body.showSelectedProfileContent .selectedProfileContent {
	display: flex;
}

.selectedProfileContent {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	display: none;
	justify-content: center;
	align-items: center;
}

.selectedProfileContent__Media {
	width: 100%;
}

.selectedProfileContent__MediaFrame {
	background-color: #ffffff;
	position: relative;
	z-index: 2;
	height: 90%;
	max-width: 90%;
	display: inline-flex;
}

.selectedProfileContent__Media__CloseButton {
	position: absolute;
	top: 13px;
	right: 13px;
	padding: 10px;
	background: transparent;
	border: none;
	cursor: pointer;
}

.selectedProfileContent__Background {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.5;
	z-index: 1;
}

