/* the asterisk is a selector and it means all */

* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
	/* background-color: #fafafa; */
}

body {
	background-color: #fafafa;
	padding: 20px;
}

.navigationList {
	list-style: none;
	display: flex;
}

.navigationItem__Text {
	display: inline;
	padding-right: 60px;
}